.bicon{
  color: #CACEDE;
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.tit1{
  font-family: Open Sans;
  font-size: 40px;
  color: #003785;
}

mat-toolbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field{
  width: 920px;
  height: 60px;
}
