<app-toolbar></app-toolbar>


<router-outlet></router-outlet>

<!--<main class = "main">-->


<!--<section class="form-container">-->

<!--  <h2 class="text-center text-[20px] leading-[1.2] md:text-[32px] md:leading-8">Get started</h2>-->
<!--  <p></p>-->

<!--  <div class="buttons-section">-->
<!--    <button mat-raised-button  class="button-register">-->

<!--      @if (authService.currentUserSig() == null ){-->
<!--      <div>-->
<!--        <a routerLink="/register"> Register </a>-->
<!--      </div>-->
<!--      }-->
<!--    </button>-->
<!--<p></p>-->
<!--    <button mat-raised-button  class="button-login">-->

<!--        @if (authService.currentUserSig() == null ){-->
<!--        <div>-->
<!--          <a routerLink="/login"> Login </a>-->
<!--        </div>-->
<!--        }-->
<!--    </button>-->
<!--  </div>-->


<!--  @if (authService.currentUserSig()){-->
<!--  <div>-->
<!--    {{authService.currentUserSig()?.username}}-->
<!--    <span (click)="logout()">Logout</span>-->
<!--  </div>-->
<!--  }-->


<!--</section>-->


<!--<router-outlet></router-outlet>-->

<!--</main>&ndash;&gt;-->
